<div>Hi!</div>

<div>
    login
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            <button type="submit">click to logout</button>
        {% else %}
            <button type="submit">click to login</button>
        {% endif %}
    </form>
</div>

<div>
    {{ public_image }}
    {% if public_image %}
        {{ public_image.url }}
        <img src="{{ public_image.url }}">
    {% else %}cannot load public_image
    {% endif %}
</div>
<div>
    {{ private_image }}
    {% if private_image %}
        {{ private_image.url }}
        <img src="{{ private_image.url }}">
    {% else %}
        cannot load private_image
    {% endif %}
</div>

<div style="margin-top: 20px; margin-bottom: 20px">
    upload private image
    <form method="post" action="{% url 'upload_cat_picture' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">submit</button>
    </form>
</div>

<div>
    upload public image
    <form method="post" action="{% url 'upload_profile_picture' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">submit</button>
    </form>
</div>